RoutingServer/RoutingServer/Connected Services/JCDecauxStationsProxy/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProxyCache" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProxyCache" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ProxyCache/Service1/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/OSMRoutingClient" />
  <xs:complexType name="ArrayOfStation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Station" nillable="true" type="tns:Station" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStation" nillable="true" type="tns:ArrayOfStation" />
  <xs:complexType name="Station">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BikeStands" type="xs:boolean" />
      <xs:element minOccurs="0" name="Bonus" type="xs:boolean" />
      <xs:element minOccurs="0" name="Connected" type="xs:boolean" />
      <xs:element minOccurs="0" name="ContractName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MainStands" nillable="true" type="tns:MainStands" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Overflow" type="xs:boolean" />
      <xs:element minOccurs="0" name="OverflowStands" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Shape" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalStands" nillable="true" type="tns:TotalStands" />
      <xs:element minOccurs="0" name="number" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OSMRoutingClient" minOccurs="0" name="position" nillable="true" type="q1:Position" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Station" nillable="true" type="tns:Station" />
  <xs:complexType name="MainStands">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="MainStands" nillable="true" type="tns:MainStands" />
  <xs:complexType name="TotalStands">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="TotalStands" nillable="true" type="tns:TotalStands" />
</xs:schema>