RoutingServer/RoutingServer/Connected Services/ServiceReference1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProxyCache" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProxyCache" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ProxyCache/Service1/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/OSMRoutingClient" />
  <xs:complexType name="ArrayOfStation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Station" nillable="true" type="tns:Station" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStation" nillable="true" type="tns:ArrayOfStation" />
  <xs:complexType name="Station">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="banking" type="xs:boolean" />
      <xs:element minOccurs="0" name="bonus" type="xs:boolean" />
      <xs:element minOccurs="0" name="connected" type="xs:boolean" />
      <xs:element minOccurs="0" name="contractName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mainStands" nillable="true" type="tns:MainStands" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="number" type="xs:int" />
      <xs:element minOccurs="0" name="overflow" type="xs:boolean" />
      <xs:element minOccurs="0" name="overflowStands" nillable="true" type="xs:anyType" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OSMRoutingClient" minOccurs="0" name="position" nillable="true" type="q1:Position" />
      <xs:element minOccurs="0" name="shape" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="totalStands" nillable="true" type="tns:TotalStands" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Station" nillable="true" type="tns:Station" />
  <xs:complexType name="MainStands">
    <xs:sequence>
      <xs:element minOccurs="0" name="availabilities" nillable="true" type="tns:Availabilities" />
      <xs:element minOccurs="0" name="capacity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MainStands" nillable="true" type="tns:MainStands" />
  <xs:complexType name="Availabilities">
    <xs:sequence>
      <xs:element minOccurs="0" name="bikes" type="xs:int" />
      <xs:element minOccurs="0" name="electricalBikes" type="xs:int" />
      <xs:element minOccurs="0" name="electricalInternalBatteryBikes" type="xs:int" />
      <xs:element minOccurs="0" name="electricalRemovableBatteryBikes" type="xs:int" />
      <xs:element minOccurs="0" name="mechanicalBikes" type="xs:int" />
      <xs:element minOccurs="0" name="stands" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Availabilities" nillable="true" type="tns:Availabilities" />
  <xs:complexType name="TotalStands">
    <xs:sequence>
      <xs:element minOccurs="0" name="availabilities" nillable="true" type="tns:Availabilities" />
      <xs:element minOccurs="0" name="capacity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TotalStands" nillable="true" type="tns:TotalStands" />
</xs:schema>